body {
    height: 200vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#location-and-hours {
    position: relative;
    height: auto;
    width: auto;
    text-align: center;  
    border-radius: 25px ;               
    top: 5px; 
    background-size: c ;
    padding: 12px;  
    background-image: url('images/2023-06-03.jpg');            
    color: rgb(255, 246, 246); 

}


#containerlh {

}

#location-and-hours h1 {

    font-size: 4em; margin: .67em 0;
    font-weight: bolder;

}

#location-and-hours p {
    font-size: 1.2em;
}

#google-api {
    background-color: red;

}


#contact {

    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

form input {
    background-color: transparent;
    border: solid 2px;
    border-radius: 4px;
    height: 2rem;
    width: 15rem;
}

#msg {


    border: solid red;
    height: 5rem;
 
}

form input[type="submit"] {



    cursor: pointer;
    margin-top: 15px;

}



#gallery {
    background-color: green;
    color: white;
}


.container {
    border: solid black;
    height: auto;
    width: auto
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.slider {

}

img {
    border-radius: 5%;
}